#bluesky-emojis-extension-suggestions-popup {
  position: absolute;

  top: 0;
  left: 0;

  background-color: rgb(22, 30, 39);
  border: 1px solid rgb(54, 75, 97);
  border-radius: 5px;

  min-width: 10rem;
  min-height: 2rem;
  max-height: 10rem;

  display: flex;
  flex-direction: column;

  /* able to scroll but no visible scrollbar */
  overflow-y: auto;
  scrollbar-width: none;

  padding: 0;
  margin: 0;
}

#bluesky-emojis-extension-suggestions-popup > div {
  padding: 8px 4px;
  margin: 0;

  color: #8d8e96;
}

#bluesky-emojis-extension-suggestions-popup > div:hover {
  cursor: pointer;
  background-color: rgb(54, 75, 97);
}

#bluesky-emojis-extension-suggestions-popup > div.highlighted {
  background-color: rgb(54, 75, 97);
}

.bluesky-emojis-extension-suggestions-popup-invisible {
  display: none !important;
}
